/calc.css
/calc.html
/calc.js
/Calculator.zip
/Classtask.html
/Classtask.js
/Classwork.html
/Classwork.js
/Event.css
/Event.html
/Event.js
/Event_task.html
/Event_task.js
/Home.html
/Home.js
/Key_event.html
/Key_event.js
/mock.css
/mock.html
/mock.js
/mock1.css
/mock1.html
/mock1.js
/Program.html
/Program.js
/Table.html
/Table.js
/Task.css
/Task.html
/Task.js
/Typecasting.css
/Typecasting.html
/Typecasting.js